body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.heading {
    color: #0c0299;
    display: flex;
    align-items: center;
    gap: 10px; 
    border-bottom: 2px solid #ddd;
}

.resume {
    display: flex;
    flex-wrap: wrap; 
    max-width: 900px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    width: 35%;
    background: #f4f4f9;
    padding: 20px;
    box-sizing: border-box;
}

.right-column {
    border-left: 4px solid rgb(157, 157, 160);
    width: 65%;
    padding: 20px;
    box-sizing: border-box; 
}

.profile-pic-container {
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    border: 4px solid rgb(88, 112, 250);
    width: 150px;
    height: 150px;
    object-fit: cover; 
    margin-bottom: 20px;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.contact-info p {
    margin: 0;
    font-size: 0.9em; 
}

.contact-info a {
    color: black; 
    text-decoration: none;
}

.contact-info i{
    color: #dc4f67;
}

.skill-section {
    margin-top: 20px;
}

.skill-section h2 {
    margin-right: 30px;
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #ddd;
    margin-left: 20px;
}

.skill-section ul {
    list-style: none;
    padding: 0;
}

.skill-section ul li {
    display: inline-block;
    color: rgb(7, 23, 104);
    padding:5px;
    border: 2px solid  rgb(132, 161, 172) ;
    border-radius: 10px;
    margin: 5px ;
    background-color  : rgb(137, 159, 169); 

}

.header {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.header h4 {
    font-size: 1.2em;
    margin: 5px 0 15px 0;
    color: #dc4f67;
}

.job {
    margin-top: 20px;
}

.job h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.job p {
    margin: 0;
    color: #dc4f67;
}

.job ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px;
}

.job ul li {
    margin-bottom: 5px;
}
